

body{
    background-color: black;
}

.t1{
    color: whitesmoke;
    font-size: xx-large;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.t2{
    color: orangered;
    font-weight: bolder;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.t3{
    background-color: black;
    /* margin-right: 200px; */
    padding: 5px 5px;
    border: 5px solid orangered;
}
.header1{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 15px 25px;
}
.navi ul{
    display: flex;
    list-style: none;
    gap: 25px;
    margin-left: 40px;
}
.navi a{
    color: white;
    background-color: black;
    font-size: 24px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 10px;
    text-decoration: none;
    border: 5px solid orangered;
}

.pur a{
    background-color: orangered;
    font-size: 25px;
    font-weight: bolder;
    color: aliceblue;
    display: inline-block;
    margin-left: 200px;
    padding: 20px 40px;
    text-decoration: none;
    border: 5px solid white;
}
.hero-container{
    display: flex;
    color: white;
    gap: 40px;
    align-items: center;
    padding: 55px;
    
}
.hT{
    background-color: orangered;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    margin-left: 200px;
    box-shadow: 10px 10px 10px black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hero-container img{
    width: 800px;
    height: 400px;
    border: 4px solid orangered;
    border-radius: 50px;
}
.hT h1,p{
    padding: 10px;
    /* font-size: 1.25em; */
    margin: 0;
}
.hT h1{
    font-size: 2.25em;
}
.pre{
    background-color: whitesmoke;
    color: orangered;
    padding: 5px 5px;
}
.dis{
    font-size: 1.25em;
    font-weight: bold;

}

.card{
    width: 300px;
    background-color: rgb(223, 88, 39);
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 10px 30px gray;
}
.card img{
    width: 100%;
    border-radius: 20px;
    border: 5px solid orangered;
    
}
.card-container{
    padding: 100px;
    display: flex;
    gap: 200px;
    flex-wrap: wrap;
    color: white;
    /* box-shadow: 10px 10px 20px white; */
}
.card:hover{
    background-color: black;
    transform: scale(1.05);
}
.name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1.25em;
}
.dec{
    font-size: 1em;
    font-weight: bold;
}

.buy{
    font-size: x-large;
    background-color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px;
    margin: 10px;
    font-weight: bolder;
}
.av{
    display: inline-block;
    background-color: orangered;
    /* text-align: center; */
    color: white;
    padding: 8px 16px;
    font-size: 40px;
    border: 5px solid whitesmoke;
}
.ptitle{
    display: flex;
    justify-content: center;
}

